# system file
.DS_Store

# ide
.idea
.vscode
runtime

# composer
vendor
composer.lock

# easySwoole
Config.php
easyswoole
easyswoole.install
src/swoole_log.txt
Temp
Log
public/nepadmin/config.js
EasySwooleEvent.php

#other ide
.settings/*s
.buildpath
.project
.user.ini

restart.log